{% extends 'layout.html.twig' %}

{% block title %}

    {{ parent() }} - Liste de nos activités

{% endblock %}

{% block content %}
    <nav class= "navbar">
        <p><a href=''>Home</a></p>
        <p><a href='showproducts'>Products</a></p>
        <p></p>
    </nav>
{% endblock %}


